<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        <tr th:each="row:${userList}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.firstName}"></td>
            <td th:text="${row.lastName}"></td>
            <td th:text="${row.phoneNumber}"></td>
            <td th:text="${row.email}"></td>

        </tr>
    </table>
</div>

<div>
    <form action="/" method="post" style="border: 1px solid black; float: right; padding: 10px; margin: 10px" th:object="${userForm}">
        <label>
            First Name: <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></span>
            <input type="text" th:field="*{firstName}">
        </label><br>
        <label>
            Last Name: <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></span>
            <input type="text" th:field="*{lastName}">
        </label><br>
        <label>
            Phone Number: <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
            <input type="text" th:field="*{phoneNumber}">
        </label><br>
        <label>
            Email: <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
            <input type="text" th:field="*{email}">
        </label><br>
        <input type="submit" value="Create">
    </form>
</div>
</body>
</html>